<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Login page{% endblock %}</title>

    {% block stylesheets %}
{#        <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />#}
{#        <link rel="stylesheet" href="/css/main.css" />#}
{#        <link rel="stylesheet" href="/css/font-awesome.min.css" />#}
    {% endblock %}
</head>
<body>


<div class="container">
    <div class="header clearfix">
        <nav class="navigation-margin">
            <ul class="nav nav-pills pull-right">
{#                <li>#}
{#                    <a href="{{ path('homepage') }}">Home</a>#}
{#                </li>#}
{#                <li><a href="{{ path('admin') }}">Admin</a></li>#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <li><a href="{{ path('api_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('api_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
        <h1>Food Store</h1>
    </div>
    <hr>
    <p class="text-center">Fence security <span class="label label-success">activated</span></p>

    <div class="row">
        <div class="col-sm-12">
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            {% block body %}{% endblock %}
        </div>
    </div>
</div>

<div id="modal-content-holder" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body clearfix"></div>
        </div>
    </div>
</div>

{% block javascripts %}
{#    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>#}
{#    <script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>#}
{% endblock %}
</body>
</html>
